<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/shose/mybatis/ShoseMapper.xml">

  <select id="newpdtview" resultType="pDTO" parameterType="String">
   			SELECT * FROM new_pro_view
  </select>
  
  <select id="bestview" resultType="pDTO" parameterType="String">
   			SELECT * FROM best_pro_view
  </select>
  
  <select id="memlogin" resultType="java.util.HashMap" parameterType="String">

  			SELECT * FROM member WHERE mid = #{id} and mpw = #{pw}
  			
  </select>
  
  <select id="memIdCheck" resultType="mDto" parameterType="String">
  
  			SELECT * FROM member WHERE mid = #{mid}
  			
  </select>
  
  
  <select id="sessionLogin" resultType="java.util.HashMap" parameterType="String">
  
  		SELECT * FROM member WHERE mid = #{id} AND mpw = #{pw}
  		
  </select>
  

  
  <insert id="memIsert" >
  		INSERT INTO member (mid, mpw, mname, mphone, mjuso,  memail, mbirth, mmen) VALUES ( #{mid}, #{mpw}, #{mname}, #{mphone}, #{mjuso}, #{memail}, #{mbirth}, #{mmen} )
  
  </insert>
  
   <select id="boardlistAll" resultType="com.shose.DTO.BoardDTO">
  
  		SELECT * FROM tblboard ORDER by bno desc
  		
  	</select>
  	
  	<insert id="insertBoard" >
  		INSERT INTO tblboard (bno, title, content, writer) 
  		VALUES(seq_tblboard_bno.NEXTVAL, #{title} , #{content} ,#{writer})
  	</insert>
  	
  	
  	<select id="bodylist" resultType="boardDTO" >
  
  		SELECT * FROM tblboard WHERE bno = #{bno}
  		
  	</select>
  	
  	<select id="modfiyList" resultType="boardDTO" >
  
  		SELECT * FROM tblboard WHERE bno = #{bno}
  		
  	</select>
  	
  	<update id="modfiyUpdate">
  	
  		UPDATE tblboard SET title = #{title}, content= #{content}, writer = #{writer} WHERE bno = #{bno}
  		
  	</update>
  	
  	<delete id="modifDelete" parameterType="Integer">
  	
  		DELETE FROM tblboard WHERE bno = #{bno}
  	
  	</delete>
  
</mapper>